App/JEE/ProcessService/src/wsdl/localhost_59303/FrontService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:59303/FrontService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Backend"/><xs:element name="ProcessMessage"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="msg" nillable="true" type="q1:Message" xmlns:q1="http://schemas.datacontract.org/2004/07/Backend"/></xs:sequence></xs:complexType></xs:element><xs:element name="ProcessMessageResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ProcessMessageResult" nillable="true" type="q2:Message" xmlns:q2="http://schemas.datacontract.org/2004/07/Backend"/></xs:sequence></xs:complexType></xs:element><xs:element name="Login"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="credentials" nillable="true" type="q3:Credentials" xmlns:q3="http://schemas.datacontract.org/2004/07/Backend"/></xs:sequence></xs:complexType></xs:element><xs:element name="LoginResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getResult"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="secretInfo" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getResultResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>